* 
{ 
	padding: 0; margin: 0; 
}
html, body, #fullheight 
{
    min-height: 100% !important;
    height: 100%;
    overflow: hidden;
}
#fullheight 
{
    width: 250px;
    background: blue;
}
body
{
	padding:0px;
	margin:0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
    background: #F3F2F2;
}
body.not_logged .wrap
{
    width: 100%;
    height: 100%;
}
body.logged_in .wrap
{
    float: left;
    width: 1200px;
    height: 100%;
    background: white;
    overflow-y: auto;
}

body.logged_in .right_side
{
    position: relative;
    overflow-y: auto;
    float: left;
    width: 250px;
    height: 100%;
    background: #170E29;
    color: white;
}

body.logged_in .right_side .container
{
    padding: 10px;
}
body.logged_in .right_side .link 
{
    margin-top: 10px;
}
body.logged_in .right_side .link a.edit
{
    background: #00A7FF;
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.overlay
{
	position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}
.clear
{
	clear:both;
}
.employer_company .logo
{
	position: relative;
}
.employer_company .logo img
{
    width: 100%;
    background: #170E29;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu 
{
	background: #241442;
    float: left;
    width: 250px;
    height: 100%;
    overflow: auto;
}
.logged-in .wrap
{
	position: relative;
	float: left;
    height:100%;
    overflow-y: auto;
    border-right: 1px solid #E6E4E4;
}
div.wrap > div.container
{
	padding: 10px;
}
.confirm
{
	position: fixed;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+1,f3f3f3+50,ededed+100,ffffff+100 */
	background: white; /* Old browsers */
	box-shadow: 0px 0px 10px white;
    padding: 20px;
    min-width: 450px;
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1011;
    -webkit-animation: fadein 0.6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.6s; /* Firefox < 16 */
        -ms-animation: fadein 0.6s; /* Internet Explorer */
         -o-animation: fadein 0.6s; /* Opera < 12.1 */
            animation: fadein 0.6s;
    
}
.confirm h2
{
    margin-top: 15px;
    margin-bottom: 20px;
}
.confirm .confirmInfo
{
    margin-bottom: 20px;
}

.confirm .confirmInfo p
{
    font-size: 20px;
}

.confirm .confirmBtn
{
    text-align: center;
}
.confirm input[type=button]
{
    border: none;
    cursor:pointer;
    border-radius: 20px;
    width: 20%;
    height: 35px;
    margin: 1%;
    text-align: center;
}
.confirm input[type=button].active
{
    width: 98%;
}
.confirm .confirm_btn
{
	background: #35C2E6;
    color: white;
    font-weight: bold;
}
.confirm .confirm_btn:hover
{
	background: #9CE8FB;
}
.confirm .cancel_btn
{
	background: #F14A4E;
    color: white;
    font-weight: bold;
}
.confirm .cancel_btn:hover
{
	background: #FF7679;
}
.message
{
	position: fixed;
    background: gainsboro;
    width: 300px;
    padding: 10px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.message img
{
    width: 70px;
    margin-right: 35px;
}
.login_container
{
    position: fixed;
    background: white;
    padding: 10px;
    width: 370px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 11px #D4D4D4;
}

.login_container .title_header img
{
	width: 140px;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
    margin-top: 3px;
}
.login_container input
{
	margin-top: 10px;
	margin-bottom: 10px;
    height: 40px;
}
.login_container input[type=submit]
{  
    border: none;
    background: #241442;
    color: white;
}
.login_container .submit_container
{
    position: relative;
}
.login_container .submit_container .loader_buffer
{
    position: absolute;
    right: 10px;
    width: 20px;
    top: 22px;
}
.error_message
{
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    box-shadow: 0px 0px 11px black;
    color: white;
    font-weight: bold;
    position: absolute;
    clear: both;
    left: 0px;
    margin-top: 0px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
    text-align: center;
    bottom: -62px;
    font-size: 13px;
    display: block;
    width: 100%;
}
.timeout 
{
	position:relative;
	top:0px;
	background: #FF6464;
    height: 4px;
    width: 100%;
    z-index: 100
}
.timeout .progress_bar
{
	background: #00A7FF;
    height: 4px;
    position: absolute;
    top: 0px;
    width: 100%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.benefits .benefit_container
{
    float: left;
    cursor: pointer;
    width: 294px;
    background: #F3F3F3;
    margin: 2%;
    box-shadow: 0px 0px 2px #929292;
    border-top-left-radius: 48px;
}
.benefits .benefit_container .left_container
{
    position: relative;
    float: left;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    overflow: hidden;
    background: #872175;
    /* border-top-left-radius: 0px; */
    border-bottom-left-radius: 0px;
}
.benefits .benefit_container .left_container img
{
	margin: auto;
  	position: absolute;
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0;
	width: 80%;
}
.benefits .benefit_container .right_container 
{
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    float: left;
}
.benefits .benefit_container.window_false
{
    border-left: 12px solid #54adfb;
} 
.benefits .benefit_container.window_true
{
    border-left: 12px solid red;
} 
.benefits .benefit_container .right_container h3
{
	padding: 0px;
	margin:0px;
}
.window_container
{
	width: 100%;
    height: 30px;
}
.window_live
{
    position: relative;
    float:left;
    top: 0px;
    left: 0px;
    border: none;
    width: 200px;
    height: 30px;
}
.overview_container
{
	float:left;
	width: 200px;
	height:100%;
}
.overview_container div
{	
	height:70px;
	width: 200px;
}
.myChart
{
	float:right;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.offer_voucher_container, .offer_cashback_container, .offer_giftcard_container
{
	clear:both;
	margin-bottom:15px;
}
.search_container
{
	margin-bottom:15px;
	float:left;
}
.offer_types
{
	margin-bottom:15px;
	float:right;
}
.offer_types > .listtypes
{
	cursor: pointer;
    float: left;
    width: 96px;
    border-bottom: 4px solid red;
    background: #F1F1F1;
}
.offer_types > .listtypes:hover
{
    border-bottom: 4px solid blue;
}
.offer_types > .listtypes label
{
	curson: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently*/
                     
}
.offer_types > .listtypes .logo
{
	position: relative;
    width: 25px;
    height:25px;
    float:left;
    margin-right: 5px;
}
.offer_types > .listtypes .logo img
{
	margin: auto;
  	position: absolute;
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0;
	width: 90%;
	height:auto;
}
.offer_types > .listtypes:hover
{
	background: #BFBFBF;
    color: black;
    border-bottom: 4px solid #b8fff9;
}
.offer_types > .listtypes.active
{
	background: #BFBFBF;
    color: black;
    border-bottom: 4px solid #0400FF;
}
.offer_types > .listtypes.orderby
{
	background: #FFF8DB;
    color: black;
    border-bottom: 4px solid #FFCD00;
}
.offer_voucher, .offer_cashback, .offer_giftcard
{
    position: relative;
    height: 100px;
    width: 220px;
    border: 1px solid #EFEFEF;
    margin: 5px;
    overflow: hidden;
    float:left;
}
.offer_voucher .logoType
{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}
.offer_voucher .title
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 45px;
    margin: 0 auto;
    width: 176px;
    text-align: center;
    background: black;
    color: white;
    z-index: 1;
}
.offer_container
{
	position: relative;
}
.offer_container .close
{
	position: absolute;
    top: 0px;
    right: 0px;
}
.offer_container h3
{
	margin-top: 0px !important;
}
.offer_container h3
{
	padding-top: 10px;
}
.offer_giftcard_info,
.offer_cashback_info,
.offer_voucher_info
{
	z-index: 1010;
	-webkit-animation: fadein 0.6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.6s; /* Firefox < 16 */
        -ms-animation: fadein 0.6s; /* Internet Explorer */
         -o-animation: fadein 0.6s; /* Opera < 12.1 */
            animation: fadein 0.6s;
}
.offer_giftcard_info
{
	position: fixed;
	height: 600px;
	overflow-y: auto;
	border: 1px solid #3073AD;
    background: white;
    padding: 10px;
   	width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 11px black;
}
.offer_voucher_info
{
    position: fixed;
    border: 1px solid #3073AD;
    background: white;
    padding: 10px;
    min-width: 350px;
    max-width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 11px black;
}
.offer_cashback_info
{
	position: fixed;
    border: 1px solid #3073AD;
    background: white;
    padding: 10px;
    min-width: 350px;
    max-width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 11px black;
}
.offer_cashback_info .logo img
{
	width: 200px;
}
.offer_cashback .discount_short,
.offer_giftcard .discount_short
{
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgba(36, 20, 66, 0.66);
    /* width: 79px; */
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    z-index: 1;
}
.offer_cashback .logo, 
.offer_voucher .logo, 
.offer_giftcard .logo
{
	margin: auto;
  	position: absolute;
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0;
	width: 100%;
	height:auto;
}
.offer_giftcard .logoType
{
	position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 35px;
    height: 20px;
    width: 20px;
}
.offer_giftcard .logoType img
{
	background: white;
}

.offer_giftcard_info .category input,
.offer_voucher_info .category input,
.offer_cashback_info .category input
{
	background: black;
    border: none;
    text-align: center;
    color: white;
    padding: 0px;
    margin: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
table
{
    border: 1px solid #9E9E9E;
    width: 100%;
    border-spacing: 0px;
}
table thead tr
{
    background: #E8E8E8;
}
table th, 
table td
{
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
table td img
{
    height: 60px;
}
form label
{
	clear: both;
	display: block;
}
form .input_container label span
{
	color: red;
}
form .form_submit
{
	margin-top: 10px;
}
form input.add
{
    border: none;
    background: url('https://cdn3.iconfinder.com/data/icons/musthave/128/Add.png');
    background-size: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    border: 1px solid #241442;
    background-color: white;
    border-radius: 50px;
    position: relative;
    top: 6px;
}
input[type=password],
input[type=text], 
input[type=email],
input[type=submit]
{
	width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height:45px;
    font-size: 16px;
}
input[type=password] .warn,
input[type=text].warn,
input[type=email].warn,
input[type=submit].warn
{
    border: 1px solid red;
    box-shadow: 0px 0px 10px red;
    outline: none !important;
}
input[type=submit]
{
    border: none;
    background: #00A7FF;
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
textarea
{
    width: 100%;
    height: 120px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
}
form .input_container
{
	position: relative;
	margin-bottom: 10px;
}
form .input_container .info
{
	font-size: 12px;
    background: #141F42;
    height: 35px;
    line-height: 35px;
    width: 100%;
    color: white;
    padding-left: 1%;
    font-weight: bold;
}
form .input_container .info.error
{
	background: #FF4F4F;
	color: white;
}
form .input_container input.remove
{
	border: none;
    background: url('https://situational.com/wp-content/themes/Center-for-Leadership-Studies/images/close.png');
    background-size: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    border: 1px solid #241442;
    background-color: red;
    border-radius: 50px;
    margin-top: 10px;
}
form .form_submit input[type=submit]
{
    border: none;
    padding: 10px;
    color: white;
}
form .form_submit input[type=submit]:disabled 
{
    background: #dddddd !important;
}
form .form_submit input[type=submit].next_btn_form,
form .form_submit input[type=submit].pre_btn_form
{
	background: #2893C4;
}

form .input_container table th, form .input_container table td
{
	padding-right: 4px;
}
form .input_container table td
{
	text-align: center;
}
form div.info_desc
{
	width: 68%;
	display: inline-block;
	font-size: 24px;
}
form div.info_image
{
	width: 30%;
	display: inline-block;
}
form img.complete
{
	width: 100%;
}
pre
{
	float:left;
	width: 45%;
}

div.form_details
{
    position: relative;
    margin: auto;
	width: 70%;
	border: 1px solid black;
	background: #e9e9e9;
	padding: 10px;
}

.notfound title
{
    font-size: 200px;
    display: block;
    text-align: center;
    color: black;
}
.notfound span
{
    font-size: 30px;
    display: block;
    text-align: center;
    color: #8C8C8C;
}
table.holiday td span.weekdays
{
    float: left;
    margin-right: 5px;
}

.status_error
{
    margin-top: 10%;
}
.status_error h1
{
    font-size: 250px;
    text-align: center;
}
.status_error p
{
    font-size: 20px;
    text-align: center;
}

.signup .signup_container .container
{
    clear: both;
}

.signup .container label
{
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    background: #241442;
}
.signup .signup_container .detail
{
    position: relative;
    width: 31.3%;
    margin: 1%;
    float: left;
    background: #F4F1FB;
    height: 140px;
    text-align: center;
}
.signup .signup_container .detail.who_empty
{
    width: 48%
}
.signup .signup_container .detail img
{
    height: 51px;
}
.signup .signup_container .who
{
    position: relative;
    width: 23%;
    margin: 1%;
    float: left;
    background: #F4F1FB;
    height: 140px;
    text-align: center;
    cursor: pointer;
}
.signup .signup_container .who:hover
{
    background: grey;
}
.signup .signup_container .number
{
    position: relative;
    width: 18%;
    margin: 1%;
    float: left;
    background: #F4F1FB;
    height: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    cursor: pointer;
}
.signup .signup_container .number.highlight,
.signup .signup_container .who.highlight
{
    background: #DED1FD;
}
.signup .signup_container .who img
{
    position: relative;
    margin: auto;
    height: 70px;
}

.signup .signup_container .who .cost
{
    clear: both;
    display: block;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


