<h3>Cashplan Cover Signup Request</h3>
<table class="customtable">
	<thead>
		<tr>
			<th>
				Employee No:
			</th>
			<th>
				Employee Name:
			</th>
			<th>
				Who:
			</th>
            <th>
				Cover Level:
			</th>
			<th>
				Gross cost:
			</th>
			<th>
                Submitted:
			</th>
			<th>
                Action:
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="list in cashplan_signup_list.data.cashplan_signup_list | orderBy:'-submitted'" ng-if="cashplan_signup_list.status == 200">
			<td>
				{{list.user_id}}
			</td>
			<td>
				<spam ng-repeat="name in list.employee">
					{{name | capitalize}}{{$last ? '' : ' '}}
				</span>
			</td>
			<td>
                {{who_type(list.who)}}
			</td>
            <td>
                {{list.cover_level | capitalize}}
			</td>
			<td>
                {{list.gross_cost | currency:"£":2}}
			</td>
            <td>
                {{list.submitted | date:'dd/MM/yyyy'}}
            </td>
			<td>
				<input type="button" value="Accept" ng-click="cashplan_signup_confirm(list, 'accept')"/>
				<input type="button" value="Cancel" ng-click="cashplan_signup_confirm(list, 'cancel')"/>
			</td>
		</tr>
        <tr ng-if="cashplan_signup_list.status == 404">
			<td colspan="7">
				Cashplan signup has not been made ...
			</td>
		</tr>
	</tbody>
</table>