<h3>Dental Cover Signup Info</h3>
<div ng-repeat="dental_signups in dental_signup.data" ng-if="dental_signup.status == 200">
    <table ng-repeat="list in dental_signups">
        <thead>
            <tr>
                <th width="15%">
                    Who:
                </th>
                <th width="5%">
                    Cover Level:
                </th>
                <th width="15%">
                    Gross Cost:
                </th>
                <th width="10%">
                    Status:
                </th>
                <th width="20%" ng-if="list.status == 'accept' ||
                                       list.status == 'withdraw' ||
                                       list.status == 'cancel'">
                    By
                </th>
                <th width="10%">
                    Submitted:
                </th>
                <th width="15%" ng-if="list.status == 'pending'">
                    Withdraw:
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{who_type(list.who)}}
                </td>
                <td>
                    {{list.cover_level | capitalize}}
                </td>
                <td>
                    {{list.gross_cost | currency:"£":2}}
                </td>
                <td>
                    {{status_type(list.status)}}
                </td>
                <td ng-if="list.status == 'accept' ||
                           list.status == 'withdraw' ||
                           list.status == 'cancel'">
                    <span ng-repeat="manager in  list.manager">
                        {{manager | capitalize}}{{$last ? '' : ' '}}
                    </span>
                    <span ng-if="list.manager.firstname == '' && 
                                list.manager.lastname == ''">
                        You
                    </span>
                </td>
                <td>
                    {{list.submitted | date:'hh:mma - dd/MM/yyyy'}}
                </td>
                <td ng-if="list.status == 'pending'">
                    <input type="submit" value="Withdraw" ng-click="dental_signup_withdraw(list)"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="dental_signup.status != 200">
    You have not made life signup...
</div>