<h2>Payslip</h2>
<select ng-model="payslip_option" ng-change="select_payslip(payslip_option)" ng-if="payslip">
      <option ng-repeat="payslip_date in payslip_dates" value="{{payslip_date}}">{{payslip_date | date:'dd/MM/yyyy'}}</option>
</select>
<div id="payslips" ng-if="payslip">
	<!--<div class="companytitle"><img src="http://www.clipartbest.com/cliparts/jix/odo/jixodo4xT.png" width="100px"/></div>-->
	<div class="departmentdetail">
		<div class="title">
			<div>Employee No</div>
			<div>Employee Name</div>
			<div>Process Date</div>
			<div>NI No</div>
		</div>
		<div class="info">
			<div>{{payslip.employee_number}}</div>
			<div>{{payslip.employer_name}}</div>
			<div>{{payslip.process_date}}</div>
			<div>{{payslip.ni_number}}</div>
		</div>
		<div class="clr"></div>
	</div>
	<div class="payment paymentmob">
		<div class="titleinfo">
			<b>Department    -</b>  {{payslip.department}}
		</div>
		<div class="titlebg">
			<div class="title">Payments</div>
			<div class="unit">Units</div>
			<div class="rate">Rate</div>
			<div class="gross">Amount</div>
		</div>
		<div class="pcontainer">
			<div class="title">Salary</div>
			<div class="unit">1.0</div>
			<div class="rate">{{payslip.payment}}</div>
			<div class="gross">{{payslip.payment}}</div>
		</div>
		<!--  
		<div class="pcontainer">
			<div class="paymenttitle">$Payment3</div>
			<div class="paymentunit">1.00</div>
			<div class="paymentrate">$GrossP3</div>
			<div class="paymentgross">$GrossP3</div>
		</div>
		<div class="pcontainer">
			<div class="paymenttitle">$Payment4</div>
			<div class="paymentunit">1.00</div>
			<div class="paymentrate">$GrossP4</div>
			<div class="paymentgross">$GrossP4</div>
		</div>
		<div class="pcontainer">
			<div class="paymenttitle">$Payment2</div>
			<div class="paymentunit">1.00</div>
			<div class="paymentrate">$GrossP2</div>
			<div class="paymentgross">$GrossP2</div>
		</div>
		<div class="pcontainer">
			<div class="paymenttitle">$Payment5</div>
			<div class="paymentunit">1.00</div>
			<div class="paymentrate">$GrossP5</div>
			<div class="paymentgross">$GrossP5</div>
		</div>
		<div class="pcontainer">
			<div class="paymenttitle">$Payment6</div>
			<div class="paymentunit">1.00</div>
			<div class="paymentrate">$GrossP6</div>
			<div class="paymentgross">$GrossP6</div>
		</div>
		<div class="pcontainer">
			<div class="paymenttitle">$Payment7</div>
			<div class="paymentunit">1.00</div>
			<div class="paymentrate">$GrossP7</div>
			<div class="paymentgross">$GrossP6</div>
		</div>
		<div class="pcontainer">
			<div class="paymenttitle">$Payment8</div>
			<div class="paymentunit">1.00</div>
			<div class="paymentrate">$GrossP8</div>
			<div class="paymentgross">$GrossP6</div>
		</div>
		-->
		<div style="position:absolute; bottom: 0px; width: 100%;">
			<div class="pcontainer" ng-if="payslip.ssp != 0">
				<div class="title">SSP</div>
				<div class="unit"></div>
				<div class="rate"></div>
				<div class="gross">$SSP</div>
			</div>
			<div class="pcontainer" ng-if="payslip.smp_spp != 0">
				<div class="title">SMP/SSP</div>
				<div class="unit"> </div>
				<div class="rate"> </div>
				<div class="gross">$SMPSPP</div>
			</div>
			<div class="pcontainer" ng-if="payslip.payslip.sac_pension != 0">
				<div class="title">Salary Sacrifice</div>
				<div class="unit"></div>
				<div class="rate"></div>
				<div class="gross">-{{payslip.sac_pension}}</div>
			</div>
		</div>
	</div>
	<div class="deduction">
		<div class="titleinfo">
			<b>Payment Method    -</b> {{payslip.payment_method}}
		</div>
	    <div class="titlebg">
	    	<div class="yrtodate d1">Deductions</div>
	    	<div class="yrtodate d2">Amount</div>
	    </div>
	    <div class="pcontainer" >
	    	<div class="title">PAYE</div>
	    	<div class="rate">{{payslip.paye}}</div>
	    </div>
	    <div class="pcontainer">
	    	<div class="title">National Insurance</div>
	    	<div class="rate">{{payslip.ee_national_insurance}}</div>
	    </div>
		<div style="margin-top:20px;">
			<div class="pcontainer">
				<div class="title">Er Pension</div>
				<div class="rate">{{payslip.employer_pension}}</div>
			</div>
			<!--
			<div class="pcontainer">
				<div class="deductiontitle">Student Loan</div>
				<div class="deductionrate">$StudentLoan</div>
			</div>
			-->
			<div class="pcontainer" ng-if="payslip.tax_credit != 0">
				<div class="title">Tax Credit</div>
				<div class="rate">{{payslip.tax_credit}}</div>
			</div>
			<div class="pcontainer" ng-if="payslip.admin_fee != 0">
				<div class="title">Admin Fee</div>
				<div class="rate">{{payslip.admin_fee}}</div>
			</div>
			<div class="pcontainer" ng-if="payslip.attachment_of_earnings != 0">
				<div class="title">Attachment of Earnings</div>
				<div class="rate">{{payslip.attachment_of_earnings}}</div>
			</div>
		</div>
	</div>
	<div class="deduction">
		<div class="titleinfo">
			<b>Payment Period    -</b> {{payslip.payment_period}}
		</div>
		<div class="titlebg">
	    	<div class="yrtodate">Year to date</div>
		</div>
		<div style="position:relative;">
			<div class="pcontainer">
				<div class="title">Total Gross Pay TD</div>
				<div class="rate">{{payslip.total_gross_tax_td}}</div>
			</div>
			<div class="pcontainer">
				<div class="title">Gross for Tax TD</div>
				<div class="rate">{{payslip.gross_for_tax_td}}</div>
			</div>
			<div class="pcontainer">
				<div class="title">Tax Paid TD</div>
				<div class="rate">{{payslip.tax_paid_td}}</div>
			</div>
	        <div class="pcontainer">
	        	<div class="title">Earnings For NI TD</div>
	        	<div class="rate">{{payslip.earnings_for_ni_td}}</div>
	        </div>
	        <div class="pcontainer">
	        	<div class="title">National Insurance TD</div>
	        	<div class="rate">{{payslip.ni_td}}</div>
	        </div>
		</div>
		<div style="position:relative; margin-top:10px;">
			<!--
			<div class="pcontainer">
				<div class="deductiontitle">Student Loan TD</div>
				<div class="deductionrate">$StudentLoanTd</div>
			</div>
			-->
			<div class="pcontainer">
				<div class="title">Er Pension TD</div>
				<div class="rate">{{payslip.employer_pension_td}}</div>
			</div>
		</div>
		<div style="position:absolute; bottom:0px; width:100%;">
		    <div class="pcontainer" ng-if="payslip.tax_credit_td != 0">
		    	<div class="title">Tax Credit TD</div>
		    	<div class="rate">{{payslip.tax_credit_td}}</div>
		    </div>
			<div class="pcontainer">
				<div class="title">Earning For NI</div>
				<div class="rate">{{payslip.earning_for_ni}}</div>
			</div>
			<div class="pcontainer">
				<div class="title">Gross For Tax</div>
				<div class="rate">{{payslip.gross_for_tax}}</div>
			</div>
			<div class="pcontainer">
				<div class="title">Total Gross Pay</div>
				<div class="rate">{{payslip.total_payment}}</div>
			</div>        
		</div>
	</div>
	<div class="employeedetail">
		<div class="title">
			<div class="company_name">Company Name</div>
			<div>Tax Code</div>
			<div>Tax Week</div>
			<div>NI Code</div>
		</div>
	    <div class="info">
		    <div class="company_name">{{payslip.employer_name}}</div>
		    <div>{{payslip.tax_code}}</div>
		    <div>{{payslip.tax_week}}</div>
		    <div>{{payslip.ni_code}}</div>
		</div>
	</div>
	<div class="netpay">
		<div class="title">Net Pay</div>
		<div class="info">£{{payslip.net_pay}}</div>
	</div>
	<div style="clear:both;"></div>               
</div>