<h3>Pension App</h3>
<!--
<pre>
	{{pension_detail | json}}
</pre>
-->

<div class="form_details" ng-if="pension_detail">
	<form name="form1" ng-if="form_nav_i == 1">
		<div class="input_container">
			<label>Salary:</label>
			<div class="info">
				{{salary | currency:"£":2}}
			</div>
		</div>
		<div class="input_container">
			<label>Current Contribution:</label>
			<div class="info">
				{{::pension_detail.employee_contribution.amount | currency:"£":2}} - Monthly 
				({{::pension_detail.employee_contribution.amount * 12 | currency:"£":2}} - Annually)
			</div>
		</div>
		<div class="input_container">
			<label>Expected Contribution:</label>
			<div class="info">
				{{pension_detail.employee_contribution.amount  | currency:"£":2}} - Monthly 
				({{pension_detail.employee_contribution.amount * 12 | currency:"£":2}} - Annually)
			</div>
		</div>
		<div class="input_container" ng-if="pension_detail.contribution.saving_type == 'NET_SAVING'">
			<label>Net Contribution:</label>
			<div class="info">
			{{pension_detail.employee_contribution.amount * 0.20 | currency:"£":2}} - Monthly
			({{(pension_detail.employee_contribution.amount * 0.20) * 12 | currency:"£":2}}
				- Annually)
			</div>
			<span>Tax Relief Added @ 20%</span>
		</div>
		<div class="input_container" ng-if="pension_detail.contribution.saving_type == 'SALARY_SACRIFICE'">
			<label>NI Contribution:</label>
			<div class="info">
			{{pension_detail.employee_contribution.amount * 0.138 | currency:"£":2}} - Monthly
			({{(pension_detail.employee_contribution.amount* 0.138) * 12 | currency:"£":2}}
				- Annually)
			</div>
			<span>NI rebate @ 13.8%</span>
		</div>
		<div class="input_container">
			<label>Employer Contribution:</label>
			<div class="info">
			{{pension_detail.employer_contribution.amount | currency:"£":2}} - Monthly
			({{pension_detail.employer_contribution.amount * 12 | currency:"£":2}}
				- Annually)
			</div>
		</div>
		<div class="input_container">
			<label>Total Contribution:</label>
			<div class="info">
			{{pension_detail.contribution.total | currency:"£":2}} - Monthly
			({{pension_detail.contribution.total * 12 | currency:"£":2}} - Annually)
			</div>
			<span>*Total for the Expected Contribution & Employer Contribution</span>
		</div>
		<div class="input_container">
			<label>Saving through:</label>
			<div class="info plain">
				<input type="radio" ng-model="pension_detail.contribution.saving_type" value="NET_SAVING" ng-click="calculate_saving()" ng-checked="pension_detail.contribution.saving_type == 'NET_SAVING'" />NET Saving
				<input type="radio" ng-model="pension_detail.contribution.saving_type" value="SALARY_SACRIFICE"  ng-click="calculate_saving()"  ng-checked="pension_detail.contribution.saving_type == 'SALARY_SACRIFICE'" />NI Saving
			</div>
		</div>
		<!--
		<div class="input_container">
			<label>Expected Contribution:</label>
			<input name="contribution"
				   type="text" 
				   placeholder="£0.00" 
				   format-currency="number"
				   ng-class="{'warn':checkinbetween(expectedContribution)}"
				   ng-model="expectedContribution"
				   ng-keyup="expected_contribution_amount(expectedContribution)"
				   placeholder="Employer Contribution..."
				   required>
			<span>Min: {{pension_detail.employee_contribution.min_amount | currency:"£":2}} - Max: {{pension_detail.employee_contribution.max_amount | currency:"£":2}} Monthly Contribution </span>
		</div>
		-->
		<div class="input_container">
			<label>Expected Contribution (%):</label>
			<rzslider rz-slider-model="expected_employee_contribution.value" 
					  rz-slider-options="expected_employee_contribution.options"></rzslider>
		</div>
		<div class="input_container">
			<label>Retirement age:</label>
			<rzslider rz-slider-model="retirement_age.value" 
					  rz-slider-options="retirement_age.options"></rzslider>
		</div>
		<div class="form_submit">
			<input type="submit" 
					ng-click="form_nav_btn(+1)" 
					value="Next" 
					ng-if="form_nav_i != (form_nav_list.length - 1)" 
					class="next_btn_form">
		</div>
	</form>

	<form name="form2" ng-if="form_nav_i == 2" novalidate>
		<div class="input_container">
			<p>
				Please list any current pension funds that you have. 
			</p>
		</div>
		<div class="input_container" ng-if="pension_detail.fund.fund_value > 0">
			<label>Current Fund:</label>
			<div class="info">
				{{pension_detail.fund.fund_value | currency:"£":2}}
			</div>
		</div>
		<div class="input_container" ng-if="pension_detail.fund.list_fund | isEmpty">
			<table width="100%">
				<thead>
					<tr>
						<th>Provider:</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="fund in pension_detail.fund.list_fund">
						<td width="65%">
							<input type="text" 
								   name="name" 
								   ng-model="fund.name"
								   class="fullwidth"
								   capitalize-each 
								   required/>
						</td>
						<td width="30%">
							<input type="text"
									placeholder="£0.00" 
				   					format-currency="number"
									class="fullwidth"
									name="value"
									value="{{fund.value}}"
									ng-model="fund.value"
									ng-disabled="form2[fund.name].$invalid" 
									ng-keyup="add_funds_pot()" 
									required/>
						</td>
						<td width="5%">
							<input type="button"  class="remove" ng-click="remove_listfund($index)"> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<b>If you have more pension funds that you would like to add or include: 
			<input type="button" 
					ng-click="add_funds()" 
					class="add"
					ng-disabled="form2.name.$invalid || 
								 form2.value.$modelValue <= 0"/></b>

		<div class="input_container" ng-if="list_funds != ''">
			<label>Total Funds:</label>
			<div class="info" ng-if="total_fund_amount != 0">{{pension_detail.fund.total_fund_amount = pension_detail.fund.fund_value + pension_detail.fund.fund_pot | currency:"£":2}}</div>
		</div>

		<div class="form_submit">
			<input type="submit" ng-click="form_nav_btn(-1);" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
			<input type="submit" ng-click="form_nav_btn(+1); remove_empty_list_fund();" value="Next" ng-if="form_nav_i != (form_nav_list.length - 1)" class="next_btn_form"/>
		</div>
	</form>

	<form name="form3" ng-if="form_nav_i == 3" novalidate>
		<div class="input_container">
			<p>
				Your pension contribution will be invested into the <a href="#" target="_blank">Core Lifestyle Portofolio</a> unless you make an alternative selection. 
				<br/><br/>
				You can see the full fund range <a href="#" target="_blank">here</a> if you wish to recieve advice on your choices please contact below:
				<div class="container">
					<a href="mailto:pensionsupportservice.net?Subject=Pension Enquiry" target="_top">
						<div class="info fullwidth"><img src="./icons/mail.png"/><b>Email</b></div>
					</a>
				</div>
				<div class="container">
					<div class="info fullwidth"><img src="./icons/telephone.png"/><b>0330 088 4878</b></div>
				</div>
			</p>
		
		</div>
		<div class="form_submit">
			<input type="submit" ng-click="submitted=true; form_nav_btn(-1); add_empty_list_fund();" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
			<input type="submit" ng-click="submitted=true; form_nav_btn(+1);" 
									value="Next" 
									ng-if="form_nav_i != (form_nav_list.length - 1)" 
									class="next_btn_form"
									ng-disabled="form3.questionerq1.$invalid ||
												form3.questionerq2.$invalid ||
												form3.questionerq3.$invalid ||
												form3.questionerq4.$invalid ||
												form3.questionerq5.$invalid "/>
		</div>
	</form>

	<form name="form4" ng-if="form_nav_i == 4">
		<div class="input_container">
			<label>Your Contribution:</label>
			<div class="info">{{pension_detail.employee_contribution.amount | currency:"£":2}} - Monthly 
							  ({{pension_detail.employee_contribution.amount * 12 | currency:"£":2}} - Annually)</div>
		</div>
		<div class="input_container">
			<label>Employer Contribution:</label>
			<div class="info">{{pension_detail.employer_contribution.amount | currency:"£":2}} - Monthly 
							  ({{pension_detail.employer_contribution.amount * 12 | currency:"£":2}} Annually)</div>
		</div>
		<div class="input_container">
			<label>Total Contribution:</label>
			<div class="info">{{pension_detail.contribution.total | currency:"£":2}} - Monthly 
							  ({{pension_detail.contribution.total * 12 | currency:"£":2}} - Annually)</div>
			<span>*Total for the Expected Contribution & Employer Contribution</span>
		</div>
		<div class="input_container" ng-if="pension_detail.fund.total_fund_amount > 0">
			<label>Investments up to Now:</label>
			<div class="info">{{pension_detail.fund.total_fund_amount | currency:"£":2}}</div>
		</div>
		<div class="input_container">
			<label>Fund Value at age {{pension_detail.retirement_age}}:</label>
			<div class="info">{{balance_value = invested(pension_detail).balance | currency:"£":2}}</div>
			<span>{{pension_detail.retirement_age - pension_detail.age}} Years Until Retirement</span>
		</div>
		<div class="input_container">
			<label>With this Pension Fund You could take up to:</label>
			<div class="info">{{takeupto_value = invested(pension_detail).balance * 0.25 | currency:"£":2}}</div>
			<span class="small">*As a Tax Free Lump Sum*</span>
		</div>
		<div class="input_container">
			<label>and an annual income for life of:</label>
			<div class="info" ng-if="income_life(pension_detail.retirement_age) == true">{{pension_detail.invested.income_life=((balance_value - takeupto_value) * annuityRates(pension_detail.retirement_age) / 100) + 7716.80 | currency:"£":2}}</div>
			
			<div class="info" ng-if="income_life(pension_detail.retirement_age) == false">{{pension_detail.invested.income_life=((balance_value - takeupto_value) * annuityRates(pension_detail.retirement_age) / 100) | currency:"£":2}}</div>
			
			
			<span class="small">*Based on current UK Legislation</span><br/>
			
			<span class="small" ng-if="income_life(pension_detail.retirement_age) == true">*This includes £7,716.80 in state pension from age {{pension_detail.state_pension}}</span>
			
			<span class="small" ng-if="income_life(pension_detail.retirement_age) == false">*You will recieve £7,716.80 for the state pension from age {{pension_detail.state_pension}}</span>
		</div>
		<div class="input_container">
			<a href="" ng-click="form_nav_btn(+4)">Assumptions Policy Document</a>
		</div>
		<div class="form_submit">
			<input type="submit" ng-click="form_nav_btn(-1)" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
			<input type="submit" ng-click="form_nav_btn(+1)" value="Next" ng-if="form_nav_i != (form_nav_list.length - 1)" class="next_btn_form"/>
		</div>
	</form>

	<form name="form5" ng-if="form_nav_i == 5">
		<div class="input_container">
			<p>Please read the below policy documents. If you agree and satisfied please check the checkbox that you confirm and understood the Terms and Conditions</p>
			<ul>
				<li><a href="#" target="_blank">Invitation Letter</a></li>
				<li><a href="#" target="_blank">Cost of Services Disclosure Document</a></li>
				<li><a href="#" target="_blank">Salary Sacrifice Comparison</a></li>
				<li><a href="#" target="_blank">Example Illustration of benefits</a></li>
				<li><a href="#" target="_blank">GPP Key Features Document</a></li>
			</ul>
		</div>
		<div class="input_container">
			<input type="checkbox" ng-model="tandconfirm"/>
			<lable>Confirm</lable>
		</div>
		<div class="form_submit">
			<input type="submit" ng-click="form_nav_btn(-1)" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
			<input type="submit" 
					ng-click="form_nav_btn(+1)" 
					value="Next" 
					class="next_btn_form"
					ng-disabled="!tandconfirm"/>
		</div>
	</form>
	<form name="form6" ng-if="form_nav_i == 6">
		<div class="input_container">
			<p>Authority from an employee to their employer in connection with a group pension arrangement.</p>
		</div>
		<div class="input_container">
			<label>Your Contribution:</label>
			<div class="info">{{pension_detail.employee_contribution.amount | currency:"£":2}}</div>
			<span>*Per Monthly</span>
		</div>

		<div class="input_container">
			<label>Your Employer Contribution:</label>
			<div class="info">{{pension_detail.employer_contribution.amount | currency:"£":2}}</div>
			<span>*Per Monthly</span>
		</div>
		
		<div class="input_container">
			<label>Date:</label>
			<div class="info">{{date | date:'dd/MM/yyyy'}}</div>
		</div>
		
		<div>
			<p>
				<b>Fund selection</b>
				Your contributions and any transfer payment will automatically
				be invested in the fund(s) chosen for the Group Arrangement.
				If you want to select different funds to the ones chosen for the
				Group Arrangement for personal contributions and any transfer
				payment, please enter the the exact fund name(s) and the
				percentage split in the table below. 
				
				You can find details of the
				funds available to you in the <a href="#" target="_blank">investment information</a>.
				If you or your employer do not choose a fund, all contributions
				to your plan will be invested as detailed in the Investment fund
				allocation procedure.
			</p>
		</div>
		<div class="input_container">
			<table width="100%">
				<thead>
					<tr>
						<th>Name of fund:</th>
						<th>%</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="fund in fund_selection">
						<td width="85%">
							<input type="text" 
								   ng-model="fund.name"
								   class="fullwidth"
								   capitalize-each
								   ng-readonly="fund.id == 1"
								   required/>
						</td>
						<td width="10%">
							<input type="text"
								   class="fullwidth"
								   placeholder="Please enter the name..."
								   ng-disabled="form6[fund.name].$invalid"
								   name="{{fund.name+'value'}}"
								   ng-model="fund.percent" 
								   ng-keyup="total_fund_selection()"
								   valid-number
								   required/>
						</td>
						<td width="5%">
							<input type="button"  
								   class="remove" 
								   ng-hide="$index == 0"
								   ng-click='remove_fundselection($index)'>
						</td>
					</tr>
					<tr>
						<td width="85%">
							Total:
						</td>
						<td width="10%">
							{{total_fund_selection()}}%
						</td>
					</tr>
					<tr>
						<td colspan="2">
							If you want to invest in funds, please click:
							<input type="button" 
									ng-click="add_funds_selection()" 
									class="add"
									ng-disabled="total_fund_selection() >= 100 ||
												form6[funds_selection_last.name].$invalid ||
												form6[funds_selection_last.name+'value'].$modelValue == 0 ||
												form6[funds_selection_last.name+'value'].$modelValue > 100"/></b>
						</td>
					</tr>
				</tbody>
			</table>
			<b>Pension investement fund must be equal to 100%.</b><br/>
		</div>
		<div class="input_container">
			<input type="checkbox" ng-model="tandconfirm"/>
			<lable>Agree with <a href="" ng-click="form_nav_btn(+1)">Terms & Conditions</a></lable>
		</div>
		
		<div class="form_submit">
			<input type="submit" ng-click="form_nav_btn(-1)" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
			<input type="submit" 
					ng-click="submit_pension(details)" 
					value="Confirm"
					ng-disabled="pension_detail.fund_selection.total_fund_selection != 100 || !tandconfirm"
					ng-if="form_nav_i != (form_nav_list.length - 1)" class="next_btn_form"/>
		</div>
	</form>
	<form name="form7" ng-if="form_nav_i == 7">
		<div class="input_container">
			<ol>
				<li>
					I, the Employee, mandate you, the Employer, to submitan application on my behalf to AEGON (a trading name of Scottish Equitable plc). This application will be for me to join the Group Arrangement and the AEGON scheme underlying it. AEGON will issue to me a policy or policies in connection with the Group Arrangement.
				</li>
				<ol type="a">
					<li>
						I understand I will have to accept important terms and conditions. These will be set out for me by AEGON and, if I do not cancel the policy or policies in line with the cancellation right that will be given to me, then I will be bound by those terms and conditions (and all the other terms and conditions relating to the policy or policies and the Group Arrangement).
					</li>
					<li>
						This mandate is a prior request, under Article 9 of the Distance Marketing Directive, to AEGON, for them to issue to me a policy or policies in connection with the Group Arrangement and any further policy or policies in connection with new products or services that the AEGON UK group may tell me about.
					</li>
				</ol>
			<li>
				I authorise the Employer to deduct from my earnings any contribution due by me under the Group Arrangement, and for it to be sent to AEGON to be applied under that Arrangement.
			</li>
			<li>
				I authorise the Employer, its agents and any agent of mine acting in connection with the Group Arrangement to pass information that is reasonably needed about me to AEGON and, where employer contributions are being paid to my policy or policies under the Group Arrangement, the financial adviser of the Group Arrangement, from time to time. 
				<br/><br/>
				This will be information needed in connection with the Group Arrangement and any policy or policies issued in connection with that Arrangement.
			</li>
			<li>
				I agree that AEGON or its representatives may approach the scheme administrator or providers of any other registered pension scheme that I am contributing or have contributed to, to get information that AEGON feels is necessary to administer my arrangements under the Scheme.
			</li>
			<li>
				Enhanced and fixed protection: I understand that joining the Group Arrangement will mean I shall lose any ‘enhanced or fixed protection’ I have applied for.
			</li>
			<li>
				I understand that I will be given details of any policy to be issued, and a right to cancel. If I do not want to cancel, then:
				<ol type="a">
					<li>
						I do not need to take any further action.
					</li>
					<li>
						if contributions are paid to the policy or policies, then I accept this amounts to and/or confirms my agreement that I have entered into a contract with AEGON, and I have joined the Group Arrangement with AEGON.
					</li>
				</ol>
			</li>
			<li>
				<ol type="a">
					<li>
						Where I have indicated that I want you to arrange a transfer, I authorise you to arrange for the transfer payment from the pension arrangement with you and not any previous employers and for AEGON to apply the transfer payment to the policy which will be set up under the Group Arrangement.
					</li>
					<li>
						I agree to the payment of the transfer payment, from the transferring arrangement to AEGON, to provide benefits for me under the scheme.
					</li>
					<li>
						I agree that the transfer values will be invested in line with the investment instructions for the plan.
					</li>
					<li>
						I consent to AEGON seeking further information relating to the transfer payment from the provider, or scheme administrator of the transferring arrangement and authorise the provision of any information requested.
					</li>
					<li>
						I understand that by giving authority to AEGON through my employer and providing a signed discharge form I authorise  the transferring of benefits on my behalf.
					</li>
				</ol>
			</li>
			<li>
				I confirm that a copy of this employee authorisation form can be sent to AEGON and that they may rely on it.
			</li>
			<li>
				I agree this is irrevocable.
			</li>
		</div>
		<div class="form_submit">
			<input type="submit" ng-click="form_nav_btn(-1)" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
		</div>
	</form>
	<form name="form8" ng-if="form_nav_i == 8">
		<div class="input_container">
			<b>GENERAL:</b>
			<ul class="dashed">
				<li>
					All information about existing arrangements supplied by yourself is up-to-date and correct.
				</li>
				<li>
					Average Earning Indexation rate (AEI): 2.50%
				</li>
				<li>
					Average Annual Inflation rate (RPI): 2.50%
				</li>
				<li>
					Average Annual Growth rate: 4.50%
				</li>
				<li>
					Your annual income will increase each year by your selected (AEI) rate.
				</li>
				<li>
					As contributions into your scheme pension are a percentage of your salary your regular monthly payments will also increase each year by (AEI).
				</li>
				<li>
					Effective net cost and affordability figures have been calculated assuming the current Employees’ Primary Class 1 National Insurance Rates and the standard Personal Tax Rates, Bands and Allowances. Actual net cost figures and affordability may differ due to personal circumstances. If as a result of joining the pension scheme your Personal Allowance will change, we have assumed in our calculations that you will apply to have your tax code adjusted at the earliest possible date.
				</li>
			</ul>
			<b>CONTRIBUTIONS:</b>
			<ul class="dashed">
				<li>
					Bid/Offer spread and Annual Management Charges have been calculated based on the figures provided for each individual policy.
				</li>
				<li>
					Any regular monthly payments into existing pensions will continue from now until retirement age and that these payments will increase each year by your selected inflation (RPI) rate
				</li>
				<li>
					Where a net contribution is mentioned this does not take into account the cost of Contribution Protection Benefit (CPB), or the like, where applicable.
				</li>
				<li>
					The Government will add a tax rebate to your contributions at the basic rate (20.0%). Where applicable, higher rate tax relief should be claimed via self assessment.
				</li>
				<li>
					Where salary sacrifice has been selected, and your employer has agreed to add the National Insurance saving to your pension contributions, we have assumed that this arrangement and rate will continue from now until when you retire.
				</li>
				<li>
					Your Employer requires a minimum Employee contribution of 5.00% in order to join the scheme.
				</li>
				<li>
					In order to qualify for contribution matching, your Employer requires a minimum contribution of 5.00% from eligible scheme members.
				</li>
				<li>
					Your Employer has agreed to match 100.00% of eligible scheme members contributions upto an Employee contribution level of 5.00%.
				</li>
				<li>
					We have assumed that Employer contribution arrangements will continue as is from now until when you retire.
				</li>
				<li>
					You and your Employer will keep up regular monthly payments from now until you retire.
				</li>
			</ul>
			<b>STATE PENSIONS:</b>
			<ul class="dashed">
				<li>
					You have chosen to exclude any State Pensions from the calculations.
				</li>
			</ul>
			<b>RETIREMENT INCOME:</b>
			<ul class="dashed">
				<li>
					The Government Actuarial Department (GAD) is responsible for issuing a prescribed set of annuity rates reflecting current interest rates and mortality. These have been used to forecast the level of income you may receive in retirement.
				</li>
				<li>
					100.00% of current GAD rates for your selected retirement age have been used to forecast the level of income you will be able to draw from your pension funds at retirement. The actual amount you will get at retirement will be based upon the GAD/Annuity rates available at the time you retire.
				</li>
				<li>
					No allowance for Pension Commencement Lump Sum has been made i.e. all of your pension funds are used to buy an income at retirement.
				</li>
				<li>
					All income figures quoted are gross i.e. before any tax.
				</li>
				<li>
					Any Final Salary benefits included will increase by your selected inflation (RPI) rate between now and your retirement age. No account is taken of statutory/discretionary increases or revaluation of Guaranteed Minimum Pension (GMP) and non-GMP benefits.
				</li>
			</ul>
			<b>EXCLUSIONS:</b>
			<ul class="dashed">
				<li>
					Any State 2nd Pension (S2P) entitlements.
				</li>
				<li>
					Any Large Fund Discounts.
				</li>
				<li>
					Any additional policy charges or fees not included in the Annual Management Charges or Bid/Offer spread percentages.
				</li>
				<li>
					Any existing policies that you specifically requested not be included.
				</li>
				<li>
					Any entitlement to pension credits.
				</li>
				<li>
					No allowance has been made with regard to any early encashment penalties applicable to any of the pensions you have.
				</li>
			</ul>
			<b>DISCLAIMERS:</b>
			<ul class="dashed">
				<li>
					The forecast is for guidance purposes only. The actual amount of pension you will receive when you retire will depend upon personal circumstances, actual investment returns, actual charges, and any future tax and legislative changes.
				</li>
				<li>
					These figures are only forecasts and are not guaranteed they are not minimum or maximum amounts. You could get back more or less than this. We strongly recommend that you review your situation on a regular basis.
				</li>
				<li>
						Any attitude to risk/loss questionnaires, along with risk levels and their descriptions, have been provided by the licencee for use with this software and do not belong to Sawyer Holdings Limited. Any required permissions or licensing costs are the responsibility of the licencee as is the checking for accuracy and omissions.
				</li>
			</ul>
			<p>
				Please refer to your policy documentation and provider illustrations we have provided for definitive details. A detailed suitability letter will be sent to you shortly where a new plan has been taken out.
			</p>
			<p>Employee Benefits Adviser: <strong>ERNEST GRANT</strong></p>
		</div>
		<div class="form_submit">
			<input type="submit" ng-click="form_nav_btn(-4)" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
		</div>
	</form>
	<form name="form9" ng-if="form_nav_i == 9">
		<div class="info_desc">
			You will recieve an email of summary confirmaion.
		</div>
		<div class="info_image">
			<img src="./icons/tick_green.png" class="complete"/>
		</div>
		<div class="form_submit">
			<input type="submit" ng-click="form_nav_btn(-2)" value="Back" ng-if="form_nav_i > 0" class="pre_btn_form" />
		</div>
	</form>
</div>


