<h3>Gip Signup Request</h3>
<table class="customtable">
	<thead>
		<tr>
			<th>
				Employee No:
			</th>
			<th>
				Employee Name:
			</th>
			<th>
				Window Salary:
			</th>
            <th>
				Percentage:
			</th>
			<th>
				Gross cost:
			</th>
			<th>
				Term:
			</th>
			<th>
                Submitted:
			</th>
			<th>
                Action:
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="list in gip_signup_list.data.gip_signup_list | orderBy:'-submitted'" ng-if="gip_signup_list.status == 200">
			<td>
				{{list.user_id}}
			</td>
			<td>
				<spam ng-repeat="name in list.employee">
					{{name | capitalize}}{{$last ? '' : ' '}}
				</span>
			</td>
			<td>
				{{list.window_salary | currency:"£":2}}
			</td>
            <td>
                {{list.percentage}}%
			</td>
			<td>
                {{list.gross_cost | currency:"£":2}}
			</td>
			<td>
				{{payment_term_type(list.payment_term)}}
			</td>
            <td>
                {{list.submitted | date:'dd/MM/yyyy'}}
            </td>
			<td>
				<input type="button" value="Accept" ng-click="gip_signup_confirm(list, 'accept')"/>
				<input type="button" value="Cancel" ng-click="gip_signup_confirm(list, 'cancel')"/>
			</td>
		</tr>
        <tr ng-if="gip_signup_list.status == 404">
			<td colspan="7">
				Income Protection signup has not been made ...
			</td>
		</tr>
	</tbody>
</table>