<h3>Car</h3>
<table>
    <thead>
        <thead>
            <tr>
                <th width="33%">
                    Gross Cost:
                </th>
                <th width="33%">
                    Status:
                </th>
                <th width="33%">
                    Submitted:
                </th>
            </tr>
        </thead>
        <tbody ng-if="car.status == 200">
            <tr ng-repeat="car_list in car.data.car_list">
                <td>
                    {{car_list.gross_cost | currency:"£":2}}
                </td>
                <td>
                    {{status_type(car_list.status)}}
                </td>
                <td>
                    {{car_list.submitted | date:'hh:mma - dd/MM/yyyy'}}
                </td>
            </tr>
        </tbody>
        <tbody ng-if="car.status != 200">
            <tr>
                <td colspan="3">
                    Currently you dont have a car scheme...
                </td>
            </tr>
        </tbody>
    </thead>
</table>